.link {
    color: rgb(31, 199, 199);
}

.link:hover {
    color: gold;
}

.bg-1 {
    background-color: #15133C;
}

.bg-2 {
    background-color: #1a1757;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 2em !important;
}

.card {
    background-color: #282383;
    width: 25%;
    height: 25%;
}

.game-elem:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
}

.game-elem:active {
    transform: scale(0.9, 0.9);
    border: 2px solid red;
}